@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Manrope, sans-serif;
    --primary-color: rgb(12, 10, 9);
    --secondary-color: rgb(255, 255, 249);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}